footer {
	.row {
		display: flex;
		justify-content: center;
	}
	ul {
		@include clear-list();
	}
	.nav {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		a {
			padding: 10px;
		}
	}
}
