.component.intro {
	min-height: 100vh;
	padding-top: 150px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.particles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}
