.block.gallery {
	.items {
		@include clear-list();
		margin: auto;
	}
	.item {
		width: 100%;
		max-width: 340px;
		@media screen and (max-width: 768px) {
			max-width: 240px;
		}
	}
	img {
		display: block;
		object-fit: cover;
	}
}
