<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap"
		rel="stylesheet">
	<title>Styleguide</title>
</head>

<body class="styleguide">
	<div id="app">
		<%= require('html-loader!../components/header.html') %>

		<!-- <%= require('html-loader!../styleguide/panel.html') %> -->
		<%= require('html-loader!../styleguide/colors.html') %>
		<%= require('html-loader!../styleguide/type.html') %>
		<%= require('html-loader!../styleguide/form.html') %>
		<%= require('html-loader!../blocks/hero.html') %>
		<%= require('html-loader!../blocks/cards.html') %>
		<%= require('html-loader!../blocks/basic-content.html') %>

		<%= require('html-loader!../components/footer.html') %>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>

</html>