<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/622c73cffb.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap"
		rel="stylesheet">
	<title>Old Forester</title>
</head>

<body class="styleguide">
		<%= require('html-loader!../components/header.html') %>

		<section class="single">
			<div class="component intro">
				<div class="wrapper">
					<div class="row">
						<div class="col">
							<h1 class="title">Old Forester</h1>
							<h2 class="subtitle">Have a sip.</h2>
						</div>
						<div class="col">
							<div class="image">
								<img class="rellax" data-rellax-speed="3" src="old_forester_macbook.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="block basic-content fade-up">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<h2>A distillery with a <span class="highlight">splash</span> of bourbon.</h2>
						<p>The task, refresh the site with an emphasis on their distillery, products, and heritage. The challenge, an extremely tight and unforgiving timeline. The result, a beautiful site that highlights all of that.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="block gallery">
			<div class="wrapper">
				<div class="row">
					<div class="col intro">
						<h2 class="title aligncenter">Work examples.</h2>
					</div>
					<div class="col">
						<div class="carousel">
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_desktop_1.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_mobile_1.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_desktop_2.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_mobile_2.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_desktop_3.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_mobile_3.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_desktop_4.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_mobile_4.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_desktop_5.jpg">
								</div>
							</div>
							<div class="carousel-cell">
								<div class="image">
									<img src="old_forester_whiskey_mobile_5.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="block basic-content fade-up">
			<div class="wrapper">
				<div class="row">
					<div class="col">
						<h2>Take a <span class="highlight">gander</span> at their site.</h2>
						<a href="https://www.oldforester.com/" class="btn type1" target="_blank">Visit oldforester.com</a>
					</div>
				</div>
			</div>
		</section>

		<section class="block cards style-1">
			<div class="wrapper">
				<div class="row">
					<div class="col intro">
						<h2 class="title">Other projects.</h2>
					</div>
					<div class="col">
						<div class="items">
							<div class="item">
								<a href="#">
									<div class="image">
										<img src="https://source.unsplash.com/WLUHO9A_xik/1600x900" alt="Random Unsplash image">
									</div>
									<div class="content">
										<h2 class="title">Lorem, ipsum.</h2>
										<p class="category">Website</p>
									</div>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="image">
										<img src="https://source.unsplash.com/WLUHO9A_xik/1600x900" alt="Random Unsplash image">
									</div>
									<div class="content">
										<h2 class="title">Lorem, ipsum.</h2>
										<p class="category">Website</p>
									</div>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="image">
										<img src="https://source.unsplash.com/WLUHO9A_xik/1600x900" alt="Random Unsplash image">
									</div>
									<div class="content">
										<h2 class="title">Lorem, ipsum.</h2>
										<p class="category">Website</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%= require('html-loader!../components/footer.html') %>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>

</html>