:root {
	--primary-color: #302ae6;
	--secondary-color: #000;
	--font-color: #424242;
	--bg-color: #fff;
	--heading-color: #292922;
	.fa-adjust {
		color: #000;
		transform: rotate(540deg);
	}
}

[data-theme="dark"] {
	--primary-color: #9a97f3;
	--secondary-color: #fff;
	--font-color: #e1e1ff;
	--bg-color: #0b0b0b;
	--heading-color: #818cab;
	.fa-adjust {
		color: #000;
		transform: rotate(0deg);
	}
}

html {
	// background-color: $viewport-background-color;
	background-color: var(--bg-color);
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--font-color);
	// opacity: 0;
	// transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out,
	// 	color 300ms ease-in-out;
}

main {
	padding: 100px;
}

.block {
	margin: 0 auto 200px;
	&:last-of-type.hero.style-2 {
		margin-bottom: 0;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex: 1;
	}
}

.wrapper,
.wp-block-group__inner-container {
	max-width: $site-width;
	margin: auto;
	padding: 0 2rem;
	@include tablet-landscape-up {
		padding: 0 1.2rem;
	}
}
.wp-block-group__inner-container {
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
	@include visually-hidden();
}

.align-left,
.text-align-left {
	text-align: left;
}
.text-align-center,
.align-center {
	text-align: center;
}
.align-right,
.text-align-right {
	text-align: right;
}

.content-left .row {
	flex-direction: row-reverse;
}
.content-right .row {
	flex-direction: row;
}
.content-center .row {
	text-align: center;
	.buttons {
		justify-content: center;
	}
}
